$primary-color: #7868ca;
$black-color: #000505;
$light-color: #e5ecf4;

.display {
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;

    letter-spacing: -0.25px;
}

.headline {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}